body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  /* Place image grid to the right of the website */
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
  }
  /*Modifying nav to make navigation bar stay fixed at the top of the webpage*/
  nav {
    background-color: #000;
    padding: .5em;
    top: 0;
    position: sticky;    
  }
  /*Modifying navigation bar menu to be centered and spaced out */
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display:flex;
    justify-content: space-between;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  /* Organized the photo as a small grid*/
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr;
  }
  /* This pushes the image tag to the left of the webpage and allows content to be placed beside it */
  .feature {
      width: 200px;
      float: left;
      margin: 0 20px 20px 0;
  }