/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  /* Working on Navigation Bar */

  nav li {
    list-style-type: 0px;
    margin-top: 0.8rem;
  }
  nav ul {
     padding-left: 0px;
     margin-top: 0.8rem;
  }
  nav li a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: inline-block;
    border: 1px solid #a66;
    font-size: 2.5rem;
    line-height: 3;
  }

  nav li a:focus, nav li a:hover{
    color: white;
    background: #a66;

  }

  nav li a:active{
    color:white;
    background:black;
  }

  /* Orgainzing unordered and ordered lists */
  ul, ol {
    margin: 1.6rem 0;
  }
  
  ol {
    list-style-type: lower-latin;
  }

  ul{
    list-style-type: square;
  }

  /* Styling the links */
  a{
    outline: none;
  }

  a[href*="http"] {
    padding-right: 19px;
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 16px 16px;
  }

  a:link, a:visited {
    color: #a66;
    text-decoration: none;
  }

  a:focus, a:hover {
    text-decoration: none;
  }

  a:active {
    color:transparent;
    text-shadow:    0px 0px 1px #f00,
                    0px 0px 2px #f00,
                    0px 0px 3px black,
                    0px 0px 4px black;

  }

  /* Importing fonts */
  @font-face {
    font-family: ;
    src: url();
  }