/* NAME: NATHAN BETTON 100948437
PART 3 ASSIGNMENT 3 */

/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  /* This sets list in the navigation bar to without bullet points*/

  nav li {
    list-style-type: none;
    margin-top: 0.8rem;
  }
  /* Removes any padding on the left side of the element and adds top margin*/
  nav ul {
     padding-left: 0px;
     margin-top: 0.8rem;
  }
  /* Modifies links in navigation bar*/
  nav li a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: inline-block;
    border: 1px solid #a66;
    font-size: 2.5rem;
    line-height: 3;
  }
  /* Changes navigation list with anchor tags */
  nav li a:focus, nav li a:hover{
    color: white;
    background: #a66;

  }
  /* Changes navigation list anchor tag links to white when active */
  nav li a:active{
    color:white;
    background:black;
  }

  /* Orgainzing unordered and ordered lists */
  ul, ol {
    margin: 1.6rem 0;
  }
  
  ol {
    list-style-type: lower-latin;
  }

  ul{
    list-style-type: square;
  }

  /* Styling the links */
  a{
    outline: none;
  }

  a[href*="http"] {
    padding-right: 19px;
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 16px 16px;
  }
  /*Changes anchor tag to different colours when visitied  */
  a:link, a:visited {
    color: #a66;
    text-decoration: none;
  }
  /*Changes anchor tag to different colours when the mouse hovers over them  */
  a:focus, a:hover {
    text-decoration: none;
  }
  /*Changes anchor tag to different colours when active  */
  a:active {
    color:transparent;
    text-shadow:    0px 0px 1px #f00,
                    0px 0px 2px #f00,
                    0px 0px 3px black,
                    0px 0px 4px black;

  }

  /* Styling the header */
  html {
    font-family: lovatolight, serif;
    font-size: 10px;
  }
  
  h1, h2 {
    font-family: josefin_slabbold, sans-serif;
    letter-spacing: 2px;
  }
  
  h1 {
    font-size: 5rem;
    text-align: center;
  }
  
  h2 {
    font-size: 3.2rem;
  }
  /* indents h2 and paragraph tags inside section tag */
  section h2 + p {
    text-indent: 20px;
  }
  /* Styles the p and list tags */
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 3px;
  }
  

  /* Importing fonts */
  @font-face {
    font-family: 'lovatolight';
    src: url('fonts/Lovato-Light-webfont.eot');
    src: url('fonts/Lovato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lovato-Light-webfont.woff2') format('woff2'),
         url('fonts/Lovato-Light-webfont.woff') format('woff'),
         url('fonts/Lovato-Light-webfont.ttf') format('truetype'),
         url('fonts/Lovato-Light-webfont.svg#lovatolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin_slabbold';
    src: url('fonts/josefinslab-bold-webfont.eot');
    src: url('fonts/josefinslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/josefinslab-bold-webfont.woff2') format('woff2'),
         url('fonts/josefinslab-bold-webfont.woff') format('woff'),
         url('fonts/josefinslab-bold-webfont.ttf') format('truetype'),
         url('fonts/josefinslab-bold-webfont.svg#josefin_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
