/* NAME: NATHAN BETTON 100948437
 PART 2 ASSIGNMENT 3  */

html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
  
  .Box
    {
      /* Setting box dimensions and background color */
      background-color: red;
      width: 200px;
      height: 100px;
      margin: auto;
      /* line-height: 9px; */
      /* Border design */
      border: 2px solid #a00404;
      border-radius: 10px;
      border-color: red;

      display: flex; /* Added Flexbox */
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */

      /* Modifying background */
      background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
      );
      
    }
    /*Modifies paragraph tag  */
  .Box p
    { 
        color: aliceblue;
        font-size: 17px;
        text-align: center;      
    }