html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
  
  .Box
      {
      background-color: red;
      width: 200px;
      margin: auto;
      
      border: 2px solid #a00404;
      justify-content: center;
      align-items: center;
      p{
        text-align: center;
      }
}