html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
  
  .Box
      {
      background-color: hotpink;
      width: 200px;
      height: 200px;
      border: 2px solid purple;
      justify-content: center;
      align-items: center;
      p{
        text-align: center;
      }
}